body{
    background-color: #333446;
    color: whitesmoke;
    font-family: Arial;
    text-align: center;
}
h1{
    font-size: 70px;
    background: linear-gradient(90deg, red, yellow, green, blue,blue,green,yellow,red);
    background-size: 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 5s infinite;
}
h2{
    font-size: 30px;
    color: whitesmoke;
}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
main{
    background-color: #7F8CAA;
    width: 60rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    
    margin: auto;
    border-radius: 1000px;
}
main>*{
    display: block;
    margin: auto;
}
#pakli{
    background-image: url(Cards/Extra/bg.png);
    transition: transform 0.2s ease-in-out;

}
.bot{
    background-image: url(bot.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: absolute;
    margin: 50px;
    border: none;
}
#bot1{
    float: left;
}
#bot2{
    float: right;
    right: 0px;
}

@keyframes pakli_anim{
    from{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(0deg);
    }
}
#pakli:hover{
    transform: scale(1.3);
    animation: pakli_anim 0.4s infinite;
}

.kartya{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    image-rendering: pixelated;
    width: 150px;
    border: none;
    height: 200px;
}
#kez{
    display: block;
    margin: auto;
    margin-top: 50px;
}

.kartyakez{
    transition: 0.1s ease-in-out;
}
.kartyakez:hover{
    transform: scale(1.2);
    border: whitesmoke 3px solid;

}