body{
    background-color: #d8e0bb;
    color: whitesmoke;
    font-family: Arial;
    text-align: center;
}
h1{
    font-size: 3vw;
    background: linear-gradient(90deg, red, yellow, green, blue,blue,green,yellow,red);
    background-size: 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 5s infinite;
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;

}
h2{
    margin-top: 2vw;
    font-size: 1.5vw;
    color: whitesmoke;  
    background-color: #86a3c3;
    position: absolute;
    float: left;
    left: 0%;
    top: 0%;
    width: fit-content;
    padding: 1%;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    gap: 0.4vw;
}
.bg>*{
    display: block;
    margin: auto;
    
    
    width: 10vw;
    height: 2vw;
    border-radius: 0.5vw;

}
.bg>input{
    margin-bottom: 0%;
    width: 11vw;
    height: 3vw;
    border-radius: 1vw;
}
.bg>button{
    transition: transform 0.2s ease-in-out;
    margin-top: 0%;
    background-color: aliceblue;
}
.bg>button:hover{
    transform: scale(1.2);
    background-color: grey;
    
}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
main{
    background-color: #86a3c3;
    width: 30vw;
    height: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    
    margin: auto;
    margin-top: 9vw;
    border-radius: 1000px;

    box-shadow: 0 0 2vw 1vw #b6cec7;
}
main>*{
    display: block;
    margin: auto;
}
#pakli{
    background-image: url(Cards/Extra/bg.png);
    transition: transform 0.2s ease-in-out;
    position: absolute;
    top: 16vw;
    left: 55vw;
    z-index:   0;
}
#bot_bg{
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bot{
    background-image: url(bot.jpg);
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5vw;
    position: absolute;
    margin: 5vw;
    border: none;
    box-shadow: 0 0 3vw 0.5vw whitesmoke;
}
.bot>img{
    position: absolute;
    width: 2vw;
    border: none;
    height: 3vw;
}
#bot1{
    float: left;
    margin-left: 20vw;
}
#bot2{
    float: right;
    right: 0px;
    margin-right: 20vw;

}

@keyframes pakli_anim{
    from{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(0deg);
    }
}
#pakli:hover{
    transform: scale(1.3);
    animation: pakli_anim 0.4s infinite;
}

.kartya{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8vw;
    image-rendering: pixelated;
    width: 6vw;
    border: none;
    height: 8vw;
}
#kez{
    display: block;
    margin: auto;
    margin-top: 50px;
}

.kartyakez{
    transition: 0.1s ease-in-out;
}
.kartyakez:hover{
    transform: scale(1.2);
    border: whitesmoke 0.2vw solid;

}
@keyframes csuszas {
    to{
        top: 50%;
    }
}
.kartya-move {
    position: absolute;
    transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
    /*transform: translate(50%, 50%);*/
}
#rakas{
    position: absolute;
    top: 16vw;
    left: 40vw;

}